<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Liste des classes</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2">
                            <button routerLink="/classe/add-classe" class="btn btn-sm iq-bg-success"><i
                                class="ri-add-fill"><span class="pl-1">Nouvelle classe</span></i>
                            </button>
                        </span>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                            <tr>
                                <th>Niveau</th>
                                <th>Filière</th>
                                <th>Libelle</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let classe of classes">
                                <td contenteditable="true">{{ classe.niveau}}</td>
                                <td contenteditable="true">{{ classe.filiere}}</td>
                                <td contenteditable="true">{{ classe.libelle}}</td>
                                <td>
                                <span class="table-remove"><button type="button"
                                    class="btn iq-bg-danger btn-rounded btn-sm my-0">Remove</button></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

